// Your avriable
$font-size-base: 14px;
$body-bg: #282424;
$body-text: #ffffff;
$hight-text: #ffffff;
$brown-color: #2f0007;
$black-color: #111111;
$footer-bg-black: #151515;
$arrow-light: #d0bfa6;
$brown-light:#77140c;
$black-light: #332f2f;
$prize-bg: #1a1a1a;
$filter-bg: #484444;
$input-black-light: #666666;
$black-bold: #000000;
$red-light: #dd342e;
$brown-text: #740e0a;

$avaiable-color: #dd342e;
$booked-color: #464646;
$avaiable-green-color: #41a582;
$brown-line: #ac1b16;
$bg-prize: #201d1d;
$blue-color: #4267b2;
