.winner{
  color: black;
  .content{
    margin: 35px 20px 0;
  }
  h1{
    font-family: Veneer, sans-serif;
    font-size: 30px;
    line-height: 30px;
    white-space: pre-line;
    margin-bottom: 25px;
  }
  label{
    font-family: Veneer, sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
  input[type='text']{
    text-align: center;
    height: 43px;
    border: 1px solid black;
    font-size: 14px;
    border-radius: 10px;
  }
  .submit-note{
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}